
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.canais{
    display: flex;
}

/*menu lateral com todos os canais*/
.canal__sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 30px;
    width: 28%;
}

.canal__sidebar h3 {
    margin-bottom: 20px;
    justify-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #212529;
}

.canal-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.canal-item {
    display: flex; 
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.perfil-canal{
    display: flex;
    justify-content: space-between;
}

.perfil-canal figure{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}

.perfil-canal figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.perfil-canal button{
    border: none;
    background: transparent;
    color: #e141a4;
    font-weight: 600;
}

.perfil-canal__dados{
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil-canal__dados figure img{
    cursor: pointer;
}

.perfil-canal__nome{
    display: flex;
    flex-direction: column;
}

.perfil-canal__nome span:nth-child(1){
    font-weight: 600;
    font-size: 1rem;
    color: #212529;
}

.perfil-canal__nome span:nth-child(2){
    font-size: 0.8rem;
    color: #676767df;
}

/*videos*/
.canal__videos {
    width: 72%;
    padding: 0 30px;
    margin: 20px 0;
    border-left: 1px solid #a0a0a09c;
}

.canal__videos h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #212529;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Aumenta a largura mínima das colunas */
    gap: 20px;
}

.video-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card{
    background: transparent;
}

.video-item__source{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.video-item__source video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-item__desc{
    display: flex;
    gap: 10px;
}

.titulo-desc{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo-desc h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.titulo-desc span{
    color: #5a5a5a;
    font-size: 1rem;
}

.video-item__desc img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



/* MODO DARK*/
body.dark {
    background-color: #121212; 
    color: #ffffff; 

/* Menu Lateral */
.canal__sidebar.dark {
    background-color: #2d2d2d; 
}

.canal__sidebar h3.dark {
    color: #ffffff; 
}

.canal-list .canal-item.dark {
    background-color: #3e3e3e; 
    color: #ffffff; 
    border-radius: 10px;
}

.perfil-canal button.dark {
    color: #ff66c4; 
}

.perfil-canal__dados figure img.dark {
    border: 2px solid #ffffff;
}



.canal__videos.dark {
    background-color: #2e2e2e;
    border-left: 1px solid #333333; 
}

.canal__videos h3.dark {
    color: #ffffff; 
}

.video-grid.dark .video-item {
    background-color: #2d2d2d; 
}

.video-item__source video.dark {
    border-radius: 10px; 
.titulo-desc h3.dark {
    color: #ffffff; 
}

.titulo-desc span.dark {
    color: #bbbbbb; 
}

.video-item__desc img.dark {
    border: 2px solid #ffffff; 
}

.evento__categorias span.dark {
    color: #ffffff;
}

.evento-descricao h2.dark {
    color: #ffffff; 
}

.evento-descricao span.dark,
.evento-descricao p.dark {
    color: #bbbbbb; 
}

.canal__sidebar h3.dark{
    margin-bottom: 20px;
    justify-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
}

.perfil-canal__nome span:nth-child(1).dark {
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
}

.perfil-canal__nome span:nth-child(2).dark {
    font-size: 0.8rem;
    color: #ffffffdf;
}