.eventos{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categorias-eventos{
    display: flex;
    gap: 20px;
}

.categorias-eventos span{
    padding: 5px 10px;
    font-size: 1rem;

    border: 2px solid #e141a4;
    color: #e141a4;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.eventos__carrossel h2{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.carrossel__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.eventos-item{
    padding: 20px;
    cursor: pointer;
    background: transparent;
}

.eventos-item figure{
    width: 100%;
    height: 180px;
}

.eventos-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento-descricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento-descricao h2{
    font-size: 1.4rem;
    margin: 0 !important;
}

.evento-descricao span{
    font-size: 1rem;
    color:#FF66C4;
    font-weight: 700;
}

.evento-descricao p{
    font-size: 1rem;
    margin: 0 !important;
}

/*Media Queries*/
@media only screen and (max-width: 1440px) {
    .eventos {
        width: 80%;
    }

    .carrossel__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .evento-descricao h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 940px) {
    .eventos {
        width: 90%;
    }

    .categorias-eventos {
        flex-wrap: wrap;
        gap: 10px;
    }

    .carrossel__list {
        grid-template-columns: 1fr;
    }

    .evento-descricao h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    #eventos {
        font-size: 1.2rem;
    }

    .categorias-eventos span {
        font-size: 0.9rem;
        padding: 3px 8px;
    }

    .eventos-item figure {
        height: 150px;
    }

    .evento-descricao h2 {
        font-size: 1.1rem;
    }

    .evento-descricao p {
        font-size: 0.9rem;
    }
}

/*Modo claro e escuro */
/* Estilo padrão (claro) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
}

/* Estilo escuro */
body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}

/* Aplicação das variáveis */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
}
