.evento{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.evento__categorias{
    display: flex;
    gap: 20px;
}

.evento__categorias span{
    padding: 5px 10px;
    font-size: 1rem;

    border: 2px solid #e141a4;
    color: #e141a4;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.evento__categorias span:nth-child(1){
    background-color: #e141a4;
    color: white;
}

.evento__carrossel h2{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #212529;
}

.carrossel__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.evento-item{
    padding: 20px;
    cursor: pointer;
    background: transparent;
}

.evento-item figure{
    width: 100%;
    height: 180px;
}

.evento-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento-descricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento-descricao h2{
    font-size: 1.4rem;
    margin: 0;
}

.evento-descricao span{
    font-size: 1rem;
    color:#FF66C4;
    font-weight: 700;
}

.evento-descricao p{
    font-size: 1rem;
    margin: 0;
}

/*Media Queries*/
@media (max-width: 48rem) {
    .eventos {
        width: 90%;
    }

    .evento__categorias {
        flex-wrap: wrap;
        gap: 10px;
    }

    .carrossel__list {
        grid-template-columns: 1fr;
    }

    .evento-descricao h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    #eventos {
        font-size: 1.2rem;
    }

    .evento__categorias span {
        font-size: 0.9rem;
        padding: 3px 8px;
    }

    .evento-item figure {
        height: 150px;
    }

    .evento-descricao h2 {
        font-size: 1rem; /* 16px -> rem */
    }

    .evento-descricao span {
        font-size: 0.75rem; /* 12px -> rem */
    }

    .evento-descricao p {
        font-size: 0.75rem; /* 12px -> rem */
    }
}

/* Para telas maiores que 64rem (1024px) */
@media (min-width: 64rem) {
    .eventos {
        width: 60%;
    }

    .carrossel__list {
        gap: 2.5rem; /* 40px -> rem */
    }

    .eventos-item figure {
        height: 14.0625rem; /* 225px -> rem */
    }
}
