/*sobrenos ai dento*/
.historia__header {
    display: flex;
    justify-content: end;
    gap: 10%;
}

body{
    background-color: #fff6ff;
}

.historia{
    width: 90%;
    margin: 0 auto;
}

.historia__text{
    display: flex;
    align-items: center;
}

.historia__text h2{
    font-size: 3.2rem;
    font-weight: 600;
}

.historia__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.historia__content p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.historia__content a{
    width: 100%;
}

.historia__content a button{
    border: none;
    background-color: #FF66C4;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    width: inherit;
    padding: 8px 0;
    border-radius: 20px;
}

#historia{
    font-weight: 700;
    border-bottom: 3px solid white;
}


@media (max-width: 48rem) { /* 768px */
    .historia__header {
        display: flex;
        justify-content: center; /* Centraliza no mobile */
        gap: 0;
    }

    .historia__text {
        flex-direction: column; /* Empilha os itens no mobile */
        align-items: center;
    }

    .historia__text h2 {
        font-size: 2rem; /* Ajusta o tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }

    .historia__content p {
        font-size: 1rem; /* Ajusta o tamanho da fonte para mobile */
        text-align: left; /* Alinha o texto à esquerda */
        font-weight: 400;
    }

    .historia__content a button {
        font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
        padding: 10px 0; /* Ajusta o padding do botão */
    }
}

/* Para telas entre 768px e 1024px (Tablet) */
@media (min-width: 48rem) and (max-width: 64rem) { /* 768px a 1024px */
    .historia__header {
        justify-content: space-between; /* Mais espaçamento para tablet */
    }

    .historia__text h2 {
        font-size: 2.5rem; /* Ajuste intermediário */
    }

    .historia__content p {
        font-size: 1.1rem; /* Ajuste intermediário */
    }

    .historia__content a button {
        font-size: 1.1rem; /* Ajuste intermediário */
    }
}





/*Modo claro e escuro */
/* Estilo padrão (claro) */
/* :root { */
    /* --background-color: #ffffff; */
    /* --text-color: #000000; */
    /* --primary-color: #007bff; */
/* } */

/* Estilo escuro */
/* body.dark-mode { */
    /* --background-color: #121212; */
    /* --text-color: #ffffff; */
    /* --primary-color: #bb86fc; */
/* } */

/* Aplicação das variáveis */
/* body { */
    /* background-color: var(--background-color); */
    /* color: var(--text-color); */
/* } */

/* button { */
    /* background-color: var(--primary-color); */
    /* color: var(--text-color); */
/* } */
