/*historia*/
.historia{
    width: 80%;
    margin: 30px auto;
    color: #212529;
}

.historia__content {
    display: flex;
    justify-content: end;
    gap: 10%;
    align-items: center;
}

.historia-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.historia-text h2{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.historia-text p{
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.historia-text a{
    width: 100%;
}

.historia-text a button{
    border: none;
    background-color: #FF66C4;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    width: inherit;
    padding: 8px 0;
    border-radius: 20px;
}

#historia{
    font-weight: 700;
    border-bottom: 3px solid white;
}



/* MODO ESCURO */
body.dark {
    background-color: #2d2d2d;
    color: #f0f0f0 !important;
}

body.dark .historia {
    color: #f0f0f0;
}

body.dark .historia__content {
    justify-content: start;
}

body.dark .historia-text h2 {
    color: white;
}

body.dark .historia-text p {
    color: white;
}

body.dark .historia-text a button {
    background-color: #ff69b4;
}

body.dark #historia {
    border-bottom: 3px solid #ff69b4;
}

body.dark .historia-text a button {
    background-color: #ff69b4;
    color: white;
}
