*{
    padding: 0;
    margin: 0;
}

/*barrinha de rolagem gay*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 13px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ff69b4;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

/*estilos gerais*/
.container-main{
    width: 80%;
    margin: 0 auto;
}

.container-main hr{
    background-color: #f36ec0;
    color: #f36ec0;
    height: 2px;
    opacity: 0.4 !important;
    margin: 30px 0 20px !important;
}

.container-main hr.first-line{
    margin: 20px 0 !important;
}

/*carrossel*/
.header__carrossa{ 
    width: 100%;
    position: relative;
}

.carrossa__container-scroll{
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    margin: 0 auto;
}

.carrossa__content{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.carrossa-item{
    width: 45%;
    height: 350px;
    flex-shrink: 0;
    filter: blur(4px);
}

.carrossa-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossa-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.current-item{
    transform: scale(1.1);
    transition: all 0.5s;
    opacity: 1;
    border: 4px solid #ff69b4;
    filter: blur(0);
}

.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    border: none;
    padding: 0 50px;
    font-size: 4rem;
    z-index: 2;
    background-color: transparent;
}

.arrow-right{
    right: 0;
    left: auto;   
}

/*header das seções*/
.item__header{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item__header p{
    font-size: 1.2rem;
    color: #212529;
    margin-bottom: 25px;
}

.header-titulo{
    display: flex;
    justify-content: space-between;
}

.header-titulo h2{
    font-weight: 700;
    color: #212529;
    font-size: 1.8rem;
    margin: 0;
}

.header-titulo button{
    border-radius: 20px;
    border: none;
    background-color: #ff66c4;
    color: white;
    padding: 6px 20px;
    font-weight: 500;
}

/*comunidade*/
.comunidade__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comunidade__carrossel{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comunidade__carrossel h4{
    font-size: 1.4rem;
    font-weight: 500;
    color: #212529;
    margin: 0;
}

.comunidade__carrossel figure{
    width: 100%;
    height: 150px;
}

.comunidade__carrossel figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.comunidade-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.comunidade-item{
    padding: 15px;
    background: transparent !important;
}

.comunidade-item{
    border-radius: 10px;
    border: 1px solid #a3a3a39a;
}

.comunidade-descricao h2{
    font-size: 1.2rem;
}


/*evento*/
.evento__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.evento-item{
    display: flex;
    gap: 30px;
    padding: 30px;
    border: 1px solid #a3a3a39a;
    border-radius: 10px;
}

.evento-item figure{
    width: 40%;
    height: 200px;
    margin: 0;
}

.evento-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.evento-desc{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.evento-desc h4{
    margin: 0;
    font-size: 1.5rem;
}

.evento-desc p{
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
    margin: 0;
   
    width: 100%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.evento-local{
    display: flex;
    gap: 10px;
    align-items: center;
}

.evento-local span{
    font-size: 1rem;
    color: #f36ec0;
}

.evento-local span i{
    display: flex;
    width: 16px;
    height: 16px;
}

/*canal*/
.canal__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.canal-item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    background-color: #f7e9f7;
    border-radius: 5px;
}

.canal-item figure{
    width: 60px;
    height: 60px;
    margin: 0;
}

.canal-item figure img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-canal{
    display: flex;
    flex-direction: column;
}

.perfil-canal span:nth-child(1){
    font-weight: 600;
    font-size: 1rem;
    color: #212529;
}

.perfil-canal span:nth-child(2){
    font-size: 0.8rem;
    color: #373c42d9;
}

.canal-botao button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FF66C4;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 10px;
}

/*historia*/
.historia{
    margin: 0;
    width: 100%;
}

/*sobre nós*/
.equipe__content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.equipe-item{
    background: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.equipe-item figure{
    width: 80px;
    height: 80px;
    margin: 0;
}

.equipe-item figure img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.equipe-item h4{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.equipe-item__desc{
    text-align: center;
}

  

@media only screen and (max-width:1440px){
    :root{
        font-size: 16px; 
    }
}

@media only screen and (max-width:940px){
    :root{
        font-size: 10px; 
    }
}

/* Triloo do modo calro e escuro */



/* Ajustes gerais */
@media only screen and (max-width: 1440px) {
    :root {
        font-size: 16px;
    }

    .eventos__header-titulo button {
        padding: 0 1.2rem;
        height: 2.2rem;
        font-size: 1rem;
    }

    .eventos__content {
        gap: 1.25rem;
    }

    .evento-dados {
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem;
    }

    .evento-dados figure {
        width: 100%;
        height: 9.375rem;
    }

    .evento-desc {
        width: 100%;
        height: auto;
    }

    .evento-desc h4 {
        font-size: 1.3rem;
    }

    .evento-desc p {
        font-size: 1rem;
    }

    .evento-local span {
        font-size: 1rem;
    }

    .evento-local span i {
        width: 1rem;
        height: 1rem;
    }
 
    /* COMUNIDADES */
    .comunidades__header-titulo {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .comunidades__header-titulo h2 {
        font-size: 1.8rem;
    }

    .comunidades__header-titulo button {
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }

    .comunidades__header p {
        font-size: 1rem;
    }

    .comunidade-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }

    .evento-dados figure {
        width: 50%;
    }

    .canais-item {
        flex-direction: column;
    }

    .canal-butao button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }
}

/* CELULARES */
@media (max-width: 48rem) { /* Até 768px */
    /* EVENTOS */
    .eventos__header-titulo {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .eventos__header-titulo h2 {
        font-size: 1.5rem;
    }

    .eventos__header-titulo button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .comunidades-list {
        grid-template-columns: 1fr;
    }

    .evento-item figure {
        width: 100%;
        height: 8rem;
    }

    .evento-desc {
        width: 100%;
        height: auto;
    }

    .evento-desc h4 {
        font-size: 1.2rem;
    }

    .evento-desc p {
        font-size: 0.9rem;
    }

    .evento-local span {
        font-size: 0.9rem;
    }

    .evento-local span i {
        width: 0.9rem;
        height: 0.9rem;
    }

    /* COMUNIDADES */
    .comunidades__header-titulo {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .comunidades__header-titulo h2 {
        font-size: 1.5rem;
    }

    .comunidades__header-titulo button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }

    .comunidades__header p {
        font-size: 1rem;
    }

    .comunidades-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .comunidades-item h4 {
        font-size: 1rem;
    }

    .comunidades-item figure {
        height: 8rem;
    }

    .comunidades-exem {
        padding: 1rem;
    }

    .comunidades-descricao h2 {
        font-size: 1.2rem;
    }

    /* CANAIS */
    .canais__header-titulo {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .canais__header-titulo h2 {
        font-size: 1.5rem;
    }

    .canais__header-titulo button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }

    .canais__header p {
        font-size: 1rem;
    }

    .canais-item {
        gap: 1rem;
        padding: 1rem;
    }

    .canais-item figure {
        width: 5rem;
        height: 5rem;
    }

    .perfil-anal span:nth-child(1) {
        font-size: 1rem;
    }

    .perfil-anal span:nth-child(2) {
        font-size: 0.9rem;
    }

    .canal__content {
        flex-direction: column;
    }

    .canal-butao button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

/* COMPUTADORES */
@media (min-width: 64rem) { /* Acima de 1024px */
    /* EVENTOS */
    .eventos__header-titulo {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .eventos__header-titulo h2 {
        font-size: 2rem;
    }

    .eventos__header-titulo button {
        padding: 0.7rem 2.5rem;
        font-size: 1.1rem;
    }

    .eventos__content {
        gap: 2rem;
    }

    .evento-dados {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
    }

    .evento-dados figure {
        width: 45%;
        height: 15rem;
    }

    .evento-desc {
        width: 55%;
        height: auto;
    }

    .evento-desc h4 {
        font-size: 1.5rem;
    }

    .evento-desc p {
        font-size: 1.2rem;
    }

    .evento-local span {
        font-size: 1.2rem;
    }

    .evento-local span i {
        width: 1.2rem;
        height: 1.2rem;
    }

    /* COMUNIDADES */
    .comunidades__header-titulo {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .comunidades__header-titulo h2 {
        font-size: 2rem;
    }

    .comunidades__header-titulo button {
        padding: 0.7rem 2.5rem;
        font-size: 1.1rem;
    }

    .comunidades__header p {
        font-size: 1.2rem;
    }

    .comunidades-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .comunidades-item h4 {
        font-size: 1.4rem;
    }

    .comunidades-item figure {
        height: 14rem;
    }

    .comunidades-exem {
        padding: 1.5rem;
    }

    .comunidades-descricao h2 {
        font-size: 1.6rem;
    }

    /* CANAIS */
    .canais__header-titulo {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .canais__header-titulo h2 {
        font-size: 2rem;
    }

    .canais__header-titulo button {
        padding: 0.7rem 2.5rem;
        font-size: 1.1rem;
    }

    .canais__header p {
        font-size: 1.4rem;
    }

    .canais-item {
        gap: 2rem;
        padding: 2rem;
    }

    .canais-item figure {
        width: 8rem;
        height: 8rem;
    }

    .perfil-anal span:nth-child(1) {
        font-size: 1.4rem;
    }

    .perfil-anal span:nth-child(2) {
        font-size: 1.2rem;
    }

    .canais__content {
        flex-direction: row;
    }

    .canal-butao button {
        padding: 0.7rem 2rem;
        font-size: 1.2rem;
    }
}
