*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Poppins', sans-serif !important;
}

/*barrinha de rolagem gay*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 13px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ff69b4;
    border-radius: 10px;
    border: 3px solid #f0f0f0; /* borda com a cor de fundo pro efeito de espessura */
}

.container-content{
    /* background-color: #f1f3ea; */
    background-color: #fff6ff;
    /* #f1eaf3 */
}

/*estilização da partezinha de cima*/
.header__nav{
    width: 100%;
    padding: 20px;
    background: linear-gradient(to left,#f36ec0, #af5fe4); 
    /* background: linear-gradient(to right, #7d66f1, #f371c1); */
    /* background-color: #884a93;  */
    display: flex;
}

.header__perfil a{
    text-decoration: none;
}

.header__perfil a span{
    font-size: 35px;
}

.container-content{
    width: 100%;
}

/*logo*/
.header__logo{
    width: 80px;
    height: 50px;
}

.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
/*pesquisa*/
.pesquisa-menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
}

.header__pesquisa{
    display: flex;
    border-radius: 40px;
    padding: 5px 12px;
    background-color: #ffffff51;
    width: 60%;
    gap: 10px;
}

.header__pesquisa input{
    border: none;
    background: transparent;
    outline: none;
    caret-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    color: white;
}

.header__pesquisa input::placeholder{
    color: white;
    opacity: 0.8;
}

.header__pesquisa span{
    color: white;
    display: flex;
    align-items: center;
}

/*Elementos do menu*/
.menu__list{
    display: flex;
    list-style: none;
    gap: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding-left: 0;
}

.menu__list li a{
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.header__perfil span{
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}


/*embarque nesse cabaré*/
.header__carrossa{ 
    width: 100%;
    position: relative;
}

.carrossa__container-scroll{
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    margin: 0 auto;
}

.carrossa__content{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.carrossa-item{
    width: 45%;
    height: 350px;
    flex-shrink: 0;
    opacity: 0.5;
    filter: blur(3px);
}

.carrossa-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossa-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*itens do carroças*/
.current-item{
    transform: scale(1.1);
    transition: all 0.5s;
    opacity: 1;
    border: 6px solid #f371c1;
    filter: blur(0);
}

/*setas dos butoes*/
.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    border: none;
    padding: 0 50px;
    font-size: 4rem;
    color: #7b3687;
    z-index: 2;
    background-color: transparent;
}

.arrow-right{
    right: 0;
    left: auto;   
}



/*estilo imagens comunidade (conteúdo)*/
.comunidades-item figure{
    width: 100%;
    height: 150px;
    
}

.comunidades-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comunidades__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comunidades-exem{
    padding: 15px;
    background-color: #f7e9f7 !important;
}

.comunidades-descricao h2{
    font-size: 1.2rem;
}

.comunidades-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.comunidades-item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.comunidades__header-titulo{
    display: flex;
    justify-content: space-between;
}

.comunidades__header-titulo h2{
    margin-bottom: 10px;
    font-weight: 700 !important;
}

.comunidades__header{
    margin-bottom: 30px;
}

.comunidades__header-titulo button{
    border-radius: 20px;
    border: none;
    background-color: #FF66C4;
    color: white;
    padding: 5px 30px;
    font-weight: 600;
}

.comunidades__header p{
    font-size: 1.2rem;
}


.comunidades-item h4{
    font-size: 1.4rem;
    font-weight: 600;
}

/*estilizar a linha né pae*/
hr{
    background-color: #727272;
    height: 2px;
    margin: 3rem 0 !important;
}


/*estilo evento*/
.eventos__header-titulo{
    display: flex;
    justify-content: space-between;
}

.eventos__header-titulo h2{
    margin-bottom: 10px;
    font-weight: 700 !important;
}

.eventos__header{
    margin-bottom: 30px;
}

.eventos__header-titulo button{
    border-radius: 20px;
    border: none;
    background-color: #FF66C4;
    color: white;
    height: 30px;
    padding: 0 30px;
    font-weight: 600;
}

.eventos__header p{
    font-size: 1.2rem;
}

.eventos-dados{
    display: flex;
    gap: 30px;
}

.eventos-dados figure{
    width: 40%;
    height: 240px;
}

.eventos-dados figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.eventos-desc p{
    font-size: 1.2rem;
    margin-top: 40px;
}

.eventos-desc{
    width: 60%;
}

.eventos-local{
    display: flex;
    gap: 5px;
    align-items: center;
}

.eventos-local i{
    font-size: 1.6rem;
}


/*parte de anais*/
.canais__header-titulo{
    display: flex;
    justify-content: space-between;
}

.canais__header-titulo h2{
    margin-bottom: 10px;
    font-weight: 700 !important;
}

.canais__header{
    margin-bottom: 30px;
}

.canais__header-titulo button{
    border-radius: 20px;
    border: none;
    background-color: #FF66C4;
    color: white;
    height: 30px;
    padding: 0 30px;
    font-weight: 600;
}

.canais__header p{
    font-size: 1.4rem;
}

.canais-item figure{
    width: 80px;
    height: 80px;
    margin: 0;
}

.canais-item figure img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.canais-item{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #f7e9f7;
    border-radius: 5px;
}

.perfil-anal{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

/*usando o primeiro filho do anal*/
.perfil-anal span:nth-child(1){
    font-weight: 700;
    font-size: 1.1rem;
}
.perfil-anal span:nth-child(2){
    font-size: 0.9rem;
}

.canais__content{
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.canal-butao button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FF66C4;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 10px;
}

footer {
    width: 100%;
    padding: 40px;
    background-image: url(../img/rodape.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Desfoque no fundo */
    position: relative;
    z-index: 1;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Mais desfoque sobre o rodapé */
    z-index: -1;
}

 
/* Estilo feedback baitola*/
.feedback-section {
display: flex;
align-items: center;
padding: 20px;
}
  
  /* Estilo da caixa de texto */
.feedback-section textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
    background-color: transparent;
}

.feedback-section textarea::placeholder{
    color:white;
}
  
/* Estilo do botão */
.feedback-section button {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: white;
    color: #7b3687;
    border:none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
  /* Botão com efeito hover */
  /* .feedback-section button:hover {
    background-color: #e056a0;
  } */
  
  

@media only screen and (max-width:1440px){
    :root{
        font-size: 16px; 
    }
}

@media only screen and (max-width:940px){
    :root{
        font-size: 10px; 
    }
}