body{
    color: #212529;
}

/*menu do perfil do usuário*/
.menu{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu__nav ul li a{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu__logo a img{
    width: 100px;
}

/*separação de conteudos*/
.conteudos-perfil hr{
    height: 2px;
    background-color: #af5fe4;
    color: #af5fe4;
    height: 2px;
    opacity: 0.4 !important;
    margin: 30px 0 20px !important;
}


/*perfil do usuário*/
.container__perfil-info{
    padding: 0 0 0;
    background-color: #af5fe4;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.perfil__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.perfil__nome-desc{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 70%;
}

.perfil__nome-desc h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.perfil__nome-desc p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

.perfil__nome-desc img{
    width: 100px;
    height: 100px;
}

.botao-perfil {
    background-color: #ffffff;
    color: #af5fe4;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    padding: 10px 40px;
    font-weight: 600;
}

/*modal editar perfil*/
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    gap: 10px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color:#000000;
    width: 100%;
    display: flex;
    justify-content: end;
}

.close:hover {
    color: #514e51;
}

.form-container h2{
    font-size: 1.5rem;
    color: #212529;
    font-weight: 600;
    margin: 0;
}

.editar__form figure{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.editar__form figure img{
    width: 100%;
    height: 100%;
}

.editar__form{
    display: flex;
    flex-direction: column;
}
.editar__form-item{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 15px;
}

.editar__form button{
    background-color: #af5fe4;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 20%;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 25px;
}

.editar__form-item input, .editar__form-item textarea{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    outline: none;
}

.editar__form-item textarea{
    height: 150px;
    padding: 10px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/*abas de navegação*/
.navegacao-abas{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.navegacao-abas .aba-item{
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.navegacao-abas .ativo{
    font-weight: 600;
}

.aba-item .aba-link{
    text-decoration: none;
    color: white;
}

.perfil__aba-content{
    width: 80%;
    margin: 30px auto;
}

.underline{
    height: 3px;
    width: 100%;
    background-color: white;
    transition: width 0.3s ease;
}

.underline.animatein{
    animation: slidein 0.3s ease forwards;
}

.underline.animateout{
    animation: slideout 0.3s ease forwards;
}


@keyframes slidein {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(calc(var(--tamanho-aba-1) + 20px));
    }
}

@keyframes slideout {
    from {
        transform: translateX(var(--tamanho-aba-2));
    }
    to {
        transform: translateX(0px);
    }
}

/*reescrita da postagem*/
.post-like, .post-save{
    color: #af5fe4;
}

.post__header button{
    background-color: #af5fe4;
}

.pontinhos__post{
    color: #af5fe4;
}

/*videos salvos pelo usuario*/
.videos-salvos .row{
    width: 100%;
}

.videos-salvos h5, .posts-salvos h5{
    font-size: 1.3rem;
    color: #212529;
    margin-bottom: 15px;
    font-weight: 600;
}

/*comunidades criadas*/
.comunidade-criada {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

.comunidade-criada h5{
    font-size: 1.3rem;
    color: #212529;
    font-weight: 600;
}

.comunidades-perfil {
    display: none;
    gap: 100px;
}

.comunidade-criada__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comunidade-criada__nome {
    display: flex;
    flex-direction: column;
}

.comunidade-criada__nome span:nth-child(1) {
    font-weight: 600;
    font-size: 1rem;
    color: #383838;
}

.comunidade-criada__nome span:nth-child(2) {
    font-size: 0.8rem;
    color: #676767df;
}

.comunidade-criada__item button{
    border: none;
    background: transparent;
    color: #af5fe4;
    font-weight: 600;
}

.comunidade-criada__dados figure {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}

.comunidade-criada__dados figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.comunidade-criada__dados {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__nav ul {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .comunidades-criada,
    .comunidades__post {
        width: 100%;
    }

    .container__perfil-info {
        gap: 40px;
    }

    .perfil__info {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .perfil__nome-desc {
        width: 100%;
        gap: 20px;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .navegacao-abas {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .perfil__nome-desc h3 {
        font-size: 1.2rem;
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .post__perfil span {
        font-size: 1rem;
    }

    .comunidades__post p,
    .comunidades__post h2 {
        font-size: 1rem;
    }
}

.hidden {
    display: none;
}

/* Estilização adicional opcional */
.edit-profile-section {
    margin-top: 20px;
}

/*Modo claro e escuro */
/* Estilo padrão (claro) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
}

/* Estilo escuro */
body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}

/* Aplicação das variáveis */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

@media (min-width: 48rem) {
    body {
        color: #212529;
    }

    /* Menu do perfil do usuário */
    .menu {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menu__nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    .menu__nav ul li a {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .menu__logo a img {
        width: 100px;
    }

    /* Separação de conteúdos */
    .conteudos-perfil hr {
        height: 2px;
        background-color: #af5fe4;
        color: #af5fe4;
        opacity: 0.4 !important;
        margin: 30px 0 20px !important;
    }

    /* Perfil do usuário */
    .container__perfil-info {
        padding: 0;
        background-color: #af5fe4;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .perfil__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .perfil__nome-desc {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 70%;
    }

    .perfil__nome-desc h3 {
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
    }

    .perfil__nome-desc p {
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin: 0;
    }

    .perfil__nome-desc img {
        width: 100px;
        height: 100px;
    }

    .botao-perfil {
        background-color: #ffffff;
        color: #af5fe4;
        border: none;
        border-radius: 20px;
        padding: 10px 40px;
        font-weight: 600;
        cursor: pointer;
    }

    /* Modal Editar Perfil */
    .modal {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        overflow: hidden;
        align-items: center;
    }

    .modal-content {
        background-color: #fff;
        padding: 25px 40px;
        border-radius: 8px;
        width: 50%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        gap: 10px;
    }

    .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
        color: #000000;
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .close:hover {
        color: #514e51;
    }

    .form-container h2 {
        font-size: 1.5rem;
        color: #212529;
        font-weight: 600;
        margin: 0;
    }

    .editar__form figure {
        width: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }

    .editar__form figure img {
        width: 100%;
        height: 100%;
    }

    .editar__form {
        display: flex;
        flex-direction: column;
    }

    .editar__form-item {
        background-color: #ecf0f1;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        margin: 10px;
        border-radius: 15px;
    }

    .editar__form button {
        background-color: #af5fe4;
        color: white;
        font-size: 1rem;
        border: none;
        border-radius: 30px;
        padding: 10px;
        width: 20%;
        margin: 0 auto;
        font-weight: 600;
        margin-top: 25px;
    }

    .editar__form-item input,
    .editar__form-item textarea {
        height: 45px;
        width: 100%;
        border: none;
        background-color: #ecf0f1;
        outline: none;
    }

    .editar__form-item textarea {
        height: 150px;
        padding: 10px;
    }

    .icon-modify {
        color: #7f8c8d;
        padding: 0 5px;
    }

    .navegacao-abas {
        flex-direction: column; /* Muda para coluna em telas pequenas */
        width: 100%; /* Ajusta a largura para preencher o container */
        gap: 15px; /* Reduz o espaçamento */
    }

    .navegacao-abas .aba-item {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    .perfil__aba-content {
        width: 90%; /* Aumenta a largura para melhor preenchimento */
        margin: 20px auto; /* Ajusta o espaçamento */
    }

    .underline {
        height: 2px; /* Reduz a espessura da linha */
    }

    
}

/* Estilo para dispositivos tipo tablet (entre 600px e 1024px) */
@media (min-width: 37.5rem) and (max-width: 64rem) {
    body {
        color: #212529;
    }

    /* Menu do perfil do usuário */
    .menu {
        padding: 15px;
        flex-direction: column; /* Alinha o menu verticalmente */
        gap: 20px;
    }

    .menu__nav ul {
        flex-direction: column; /* Empilha os itens do menu */
        gap: 15px;
    }

    .menu__nav ul li a {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    .menu__logo a img {
        width: 80px; /* Ajusta o tamanho do logo */
    }

    /* Separação de conteúdos */
    .conteudos-perfil hr {
        height: 2px;
        margin: 20px 0 15px !important;
    }

    /* Perfil do usuário */
    .container__perfil-info {
        gap: 50px; /* Reduz o espaçamento */
    }

    .perfil__info {
        flex-direction: column; /* Alinha verticalmente */
        gap: 20px; /* Espaçamento entre itens */
        width: 100%; /* Ajusta a largura */
    }

    .perfil__nome-desc {
        flex-direction: column; /* Coloca nome e descrição em coluna */
        gap: 15px;
        width: 100%; /* Ajusta a largura */
        text-align: center; /* Centraliza texto */
    }

    .perfil__nome-desc h3 {
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .botao-perfil {
        padding: 8px 30px;
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
    }

    /* Modal Editar Perfil */
    .modal-content {
        width: 80%; /* Ajusta largura do modal */
        padding: 20px;
    }

    .editar__form figure {
        width: 150px; /* Ajusta tamanho da figura */
    }

    .editar__form-item input,
    .editar__form-item textarea {
        height: 40px;
    }

    .editar__form-item textarea {
        height: 120px;
    }

    .editar__form button {
        width: 40%; /* Aumenta o botão */
    }

    /* Navegação entre abas */
    .navegacao-abas {
        flex-direction: row; /* Muda para linha */
        gap: 10px; /* Reduz espaçamento */
    }

    .perfil__aba-content {
        width: 95%; /* Aumenta a largura */
    }

    .underline {
        height: 1px;
    }
}
