body{
    color: #212529;
}

/*menu do perfil*/
.menu{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu__nav ul li a{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu__logo a img{
    width: 100px;
}

/*separação de conteudos*/
.conteudos-perfil hr{
    height: 2px;
    background-color: #f36ec0;
    color: #f36ec0;
    height: 2px;
    opacity: 0.4;
    margin: 30px 0 20px;
}

/*perfil do usuário da comunidade*/
.container__perfil-info{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #FF66C4;
}

.perfil__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.perfil__nome-desc{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 70%;
}

.perfil__nome-desc h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.perfil__nome-desc p{
    font-size: 1rem;
    color: white;
    margin: 0;
}

.perfil__nome-desc img{
    width: 100px;
    height: 100px;
}

.botao-perfil {
    color: #FF66C4;
    border: none;
    background-color: white;
    border-radius: 20px;    
    cursor: pointer;
    padding: 10px 40px;
    font-weight: 700;
}

/*videos e posts postados na comunidade*/
.perfil__aba-content{
    width: 80%;
    margin: 30px auto;
}

.postagens__categorias{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.postagens__categorias span{
    padding: 5px 10px;
    font-size: 1rem;

    border: 2px solid #e141a4;
    color: #e141a4;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.postagens__categorias span:nth-child(1){
    border: none;
    background-color: #e141a4;
    color: white;
}

.posts-comunidade h5,
.perfil__aba-content h5{
    font-size: 1.3rem;
    color: #212529;
    margin-bottom: 15px;
    font-weight: 600;
}

.posts-comunidade__tudo{
    display: flex;
    gap: 40px;
}

.post-corpo p{
    height: 100px;
    width: 100%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
} 


/*modal publicar*/
.modal {
    
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    gap: 10px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color:#000000;
    width: 100%;
    display: flex;
    justify-content: end;
}

.close:hover {
    color: #514e51;
}

.form-container h2{
    font-size: 1.5rem;
    color: #212529;
    font-weight: 600;
    margin: 0;
}

.publicacao__form figure{
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.publicacao__form figure img{
    width: 100%;
    height: 100%;
}

.publicacao__form{
    display: flex;
    flex-direction: column;
}
.publicacao__form-item{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 15px;
}

.publicacao__form button{
    background-color: #FF66C4;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 20%;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 25px;
}

.publicacao__form-item input, .publicacao__form-item textarea{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    outline: none;
}

.publicacao__form-item textarea{
    height: 150px;
    padding: 10px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/*abas de navegacao*/
/* .navegacao-abas{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.navegacao-abas .aba-item{
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}

.navegacao-abas .ativo{
    font-weight: 600;
}

.aba-item .aba-link{
    text-decoration: none;
    color: white;
}

.underline{
    height: 3px;
    width: 100%;
    background-color: white;
    transition: width 0.3s ease;
}

.underline.animatein{
    animation: slidein 0.3s ease forwards;
}

.underline.animateout{
    animation: slideout 0.3s ease forwards;
}


@keyframes slidein {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(calc(var(--tamanho-aba-1) + 20px));
    }
}

@keyframes slideout {
    from {
        transform: translateX(var(--tamanho-aba-2));
    }
    to {
        transform: translateX(0px);
    }
} */

/*gerenciar comunidade*/
/* .gerenciar-perfil{
    display: none;
    flex-direction: column;
    gap: 20px;
}

.editar-perfil__images{
    display: flex;
    gap: 30px;
    width: 100%;
}

.editar-perfil__imagem h5{
    display: block;
    margin: 0;
}

.editar-perfil__imagem figure{
    margin: 0;
    width: 100%;
}

.editar-perfil__imagem figure img{
    margin: 0;
    width: 100%;
    object-fit: cover;
}

.editar-perfil__imagem.card{
    padding: 20px;
    gap: 10px;
}

.editar-perfil{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.editar-perfil__form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-label{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
}

.form-label input{
    margin: 0;
}

.form-label input{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}*/

/* Responsividade */
@media (max-width: 768px) {
    .comunidades-perfil {
        flex-direction: column;
        gap: 20px;
    }

    .comunidades-criadas, .comunidades__post {
        width: 100%;
    }
}

@media screen and (max-width: 32rem) {
    /* Menu do Perfil */
    .menu {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .menu__nav ul {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        margin: 0;
    }

    .menu__nav ul li a {
        font-size: 1rem;
        text-align: center;
    }

    .menu__logo a img {
        width: 80px;
    }

    /* Separação de Conteúdos */
    .conteudos-perfil hr {
        margin: 20px 0;
    }

    /* Perfil do Usuário da Comunidade */
    .container__perfil-info {
        gap: 40px;
        padding-bottom: 40px;
    }

    .perfil__info {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .perfil__nome-desc {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .perfil__nome-desc h3 {
        font-size: 1.2rem;
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .botao-perfil {
        font-size: 1rem;
        padding: 8px 30px;
    }

    /* Vídeos e Posts Postados na Comunidade */
    .postagens__categorias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts-comunidade__tudo {
        flex-wrap: wrap;
    }

    /* Modal Publicar */
    .modal-content {
        width: 90%;
        max-width: 500px;
    }
}

/* Media Query para telas de até 48rem (768px) */
@media screen and (max-width: 48rem) {
    /* Reutiliza o mesmo estilo de 32rem */
    .menu {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .menu__nav ul {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        margin: 0;
    }

    .menu__nav ul li a {
        font-size: 1rem;
        text-align: center;
    }

    .menu__logo a img {
        width: 80px;
    }

    /* Separação de Conteúdos */
    .conteudos-perfil hr {
        margin: 20px 0;
    }

    /* Perfil do Usuário da Comunidade */
    .container__perfil-info {
        gap: 40px;
        padding-bottom: 40px;
    }

    .perfil__info {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .perfil__nome-desc {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .perfil__nome-desc h3 {
        font-size: 1.2rem;
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .botao-perfil {
        font-size: 1rem;
        padding: 8px 30px;
    }

    /* Vídeos e Posts Postados na Comunidade */
    .postagens__categorias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts-comunidade__tudo {
        flex-wrap: wrap;
    }

    /* Modal Publicar */
    .modal-content {
        width: 90%;
        max-width: 500px;
    }
}

/* Media Query para telas de até 64rem (1024px) */
@media screen and (max-width: 64rem) {
    /* Reutiliza o mesmo estilo de 32rem */
    .menu {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .menu__nav ul {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        margin: 0;
    }

    .menu__nav ul li a {
        font-size: 1rem;
        text-align: center;
    }

    .menu__logo a img {
        width: 80px;
    }

    /* Separação de Conteúdos */
    .conteudos-perfil hr {
        margin: 20px 0;
    }

    /* Perfil do Usuário da Comunidade */
    .container__perfil-info {
        gap: 40px;
        padding-bottom: 40px;
    }

    .perfil__info {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .perfil__nome-desc {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .perfil__nome-desc h3 {
        font-size: 1.2rem;
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .botao-perfil {
        font-size: 1rem;
        padding: 8px 30px;
    }

    /* Vídeos e Posts Postados na Comunidade */
    .postagens__categorias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts-comunidade__tudo {
        flex-wrap: wrap;
    }

    /* Modal Publicar */
    .modal-content {
        width: 90%;
        max-width: 500px;
    }
}

/* Media Query para telas de até 75rem (1200px) */
@media screen and (max-width: 75rem) {
    /* Reutiliza o mesmo estilo de 32rem */
    .menu {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .menu__nav ul {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        margin: 0;
    }

    .menu__nav ul li a {
        font-size: 1rem;
        text-align: center;
    }

    .menu__logo a img {
        width: 80px;
    }

    /* Separação de Conteúdos */
    .conteudos-perfil hr {
        margin: 20px 0;
    }

    /* Perfil do Usuário da Comunidade */
    .container__perfil-info {
        gap: 40px;
        padding-bottom: 40px;
    }

    .perfil__info {
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }

    .perfil__nome-desc {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .perfil__nome-desc h3 {
        font-size: 1.2rem;
    }

    .perfil__nome-desc p {
        font-size: 0.9rem;
    }

    .perfil__nome-desc img {
        width: 80px;
        height: 80px;
    }

    .botao-perfil {
        font-size: 1rem;
        padding: 8px 30px;
    }

    /* Vídeos e Posts Postados na Comunidade */
    .postagens__categorias {
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts-comunidade__tudo {
        flex-wrap: wrap;
    }

    /* Modal Publicar */
    .modal-content {
        width: 90%;
        max-width: 500px;
    }
}