.container-post{
    width: 100%;
}

.post{
    width: 60%;
    margin: 40px auto;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    background: transparent;
}

.post__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__header button{
    border: none;
    background-color: #FF66C4;
    color: #ffffff;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 1rem;
}

.perfil-post a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.perfil-post__nome{
    display: flex;
    flex-direction: column;
}

.perfil-post__nome .temp{
    font-size: 1rem;
    font-weight: 600;
}

.perfil-post__nome div span i{
    font-size: 0.8rem;
}

.perfil-post__nome #comunidade{
    font-size: 1.2rem;
    font-weight: 600;
}

.perfil-post__nome .user{
    font-size: 1rem;
    color: #676767df;
}

.perfil-post a{
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    color: #212529;
}

.post-like, .post-save{
    background: none;
    border: none;
    font-size: 1.7rem;
    color: #e141a4;
}

.post-save{
    font-size: 1.6rem;
}

.post__opcoes{
    display: flex;
    gap: 10px;
}

.perfil-config{
    display: flex;
    align-items: center;
    gap: 10px;   
}

.pontinhos__post{
    position: relative;
    cursor: pointer;
    color: #e141a4;
}

.pontinhos-list ul{
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 15px;
    box-shadow: 0px 0px 10px 1px #c1c1c1a1;
    border-radius: 8px;
    gap: 8px;

    position: absolute;
    background-color: white;
    
}

.pontinhos-list ul li{
    font-size: 0.8rem;
}

.post__corpo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post__corpo p{
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 0;
}

.post__corpo h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

/* MODO ESCURO */
.container-post.dark {
    background-color: #2d2d2d;
}

.post.dark {
    background-color: #3E3E40;
    color: white;
}

.post__header.dark button {
    background-color: #ff66c4;
    color: #ffffff;
}

.perfil-post a.dark img {
    border: 2px solid white;
}

.perfil-post__nome.dark {
    color: white;
}

.perfil-post__nome .temp.dark {
    color: #e5e5e5;
}

.perfil-post__nome #comunidade.dark {
    color: white;
}

.perfil-post__nome .user.dark {
    color: #ffffffdf;
}

.perfil-post a.dark {
    color: white;
}

.post-like.dark, .post-save.dark {
    color: #ff66c4;
}

.pontinhos__post.dark {
    color: #ff66c4;
}

.pontinhos-list ul.dark {
    background-color: #3E3E40;
    box-shadow: 0px 0px 10px 1px #000000a1;
}

.pontinhos-list ul li.dark {
    color: white;
}

.post__corpo.dark p, .post__corpo.dark h2 {
    color: white;
}