body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color:  #7d66f1;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color:  #7d66f1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:  #7d66f1;
}

/* Media Query para telas pequenas  */
@media screen and (max-width: 375px) {
    .form {
        width: 100%;
        padding: 0 15px;
    }

    .content {
        padding: 10px;
    }

    .title {
        font-size: 20px;
    }

    .btn {
        padding: 8px 20px;
    }

    .terms-container label {
        font-size: 12px;
    }

    .logo-login {
        width: 120px;
    }
}

/* Media Query para tablets */
@media screen and (max-width: 48rem) { /* 768px = 48rem */
    .content {
        width: 90%;
    }

    .first-content, .second-content {
        flex-direction: column;
    }

    .form {
        width: 80%;
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 0.625rem; /* 10px = 0.625rem */
    }

    .link-social-media .item-social-media {
        width: 1.875rem; /* 30px = 1.875rem */
        height: 1.875rem; /* 30px = 1.875rem */
    }

    .btn-primary {
        font-size: 1rem; /* Mantém o mesmo tamanho */
    }
}

/* Media Query para telas muito grandes */
@media screen and (min-width: 100rem) { /* 1600px = 100rem */
    .content {
        width: 60%;
    }

    .title {
        font-size: 2.25rem; /* 36px = 2.25rem */
    }

    .logo-login {
        width: 12.5rem; /* 200px = 12.5rem */
    }
}
